.header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  flex: 1;
}

.header__logo::after {
  content: "";
  background: linear-gradient(90deg, var(--accent), #16c943, #d23f3f); /* Changed to a linear gradient */
  display: inline-block; /* Changed from block to inline-block */
  width: 50%; /* Changed from 100% to 50% */
  right: 10px;
}

.header__logo a {
  flex: 0 0 auto;
  max-width: 100%;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: var(--accent);
  color: var(--background);
  font-weight: bold;
  padding: 5px 10px;
}

@media print {
  .header {
    display: none;
  }
}
